cmake
asgiref
beautifulsoup4
certifi
chardet
charset-normalizer
click
colorama
comtypes
deep-translator
Django
django-cors-headers
dlib
et-xmlfile
face-recognition
face_recognition_models
filelock
fsspec
googletrans
gTTS
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
Jinja2
libretranslatepy
lxml
MarkupSafe
mpmath
networkx
numpy
opencv-python
openpyxl
pandas
pillow
python-dateutil
pyttsx3
pytz
requests
rfc3986
setuptools
six
sniffio
soupsieve
sqlparse
sympy
translate
typing_extensions
tzdata
urllib3
waitress
xlrd
